@{
  Layout = "_Layout";
}

@model FearGenerator.Models.Movie

<div class="container">
<h2>Add a Subgenre for @Html.DisplayFor(model => model.Title)</h2>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MovieId)

  @Html.Label("Select Subgenre")
  @Html.DropDownList("SubgenreId")

  <input type="submit" value="Save"/>
}

<div class="bottomOpts">
<p>@Html.ActionLink("See all Subgenres", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
</div>

</div>