@{
  Layout= "_Layout";
}

@using FearGenerator.Models
@model FearGenerator.Models.Movie
<div class="container">
<span>&nbsp;</span>
<h1 class="survival bleeding">Edit @Model.Title</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MovieId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)<br/>

  @Html.Label("Your Rating")<br/>
  @Html.RadioButtonFor(model => model.Stars, 1)<span> 1 Star</span><br />
  @Html.RadioButtonFor(model => model.Stars, 2)<span> 2 Stars</span><br />
  @Html.RadioButtonFor(model => model.Stars, 3)<span> 3 Stars</span><br />
  @Html.RadioButtonFor(model => model.Stars, 4)<span> 4 Stars</span><br />
  @Html.RadioButtonFor(model => model.Stars, 5)<span> 5 Stars</span><br /><br />

  @Html.LabelFor(model => model.Year)<br />
  @Html.EditorFor(model => model.Year, new { type = "number", min = "1888", step = "1" })<br />

  @Html.DropDownList("SubgenreId")<br />

  <input type="submit" value="Save"/>
}
</div>
